@media print {
  body * {
    visibility: hidden;
  }
  #highlighted_paste, #highlighted_paste * {
    visibility: visible;
  }
  #highlighted_paste {
    position: absolute;
    left: 0;
    top: 0;
  }
}



@font-face {
    font-family: 'Cabin-Regular';
    src: url(../fonts/Cabin-Regular.ttf) format('truetype');
}

body {
    background-color: #dfe3ee;
    font-family: Cabin-Regular;
}

.div {
    display: block;
}


.text_option {
    border-color: #78909C;
    padding-bottom: 40px;
}

.navbar-default {
    background: #3b5998;
    font-weight: bold;
}

.navbar-brand {
    color: #FFFFFF !important;
    font-weight: 700;
    font-size: 24px;
}

.navbar a {
    color: #FFFFFF !important;
}

.navbar .navbar-text {
    color: #FFFFFF !important;
}

.user_title_lang {
    border-bottom: 1px solid #ddd;
    font-size: .85em;
    background: #F7F7F7;
    text-align:  left;
    padding: 6px 8px 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.bar_right {
    float: right;
    text-align: right;
}

pre{
    width: 100% ;
}

.buttons {
    background-color: #ddd;
    border-bottom: 2px solid #ccc;
    border-left: 0;
    border-radius: 3px;
    border-right: 0;
    border-top: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 6px;
    opacity: .75;
    margin: 0 0 0 8px;
}

.frame {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border-right: 1px solid;
    border-left: 1px solid;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.paste_textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #eeeff1;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

h5 {
    font-weight: bold;
}

h3 {
    padding-top: 15px;
    color: #B39DDB;
}

hr {
    border: 1px solid black;
}

p {
    font-weight: bold;
}
